.features-section{
  font-family: "Onest", sans-serif;
  display: block;
  height: 100vh;
  /* padding: 5rem 2.5rem; */
  /* grid-template-columns: 54% 46%; */
  overflow: hidden;
  background-color: var(--secondary-primary);
}

.features-container{
    /* width: 100%;
    max-width: 1100px;
    min-height: 0;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;

    background-color:black; */

    width: 50%;
  height: 200px;  
  margin: 5rem auto;
  position: relative; 
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black; 
}