.hiw-section{
  /* font-family: "Onest", sans-serif;
  display: block;
  min-height: 100vh;
  width: 100%;
  position: relative;  
  overflow: visible;
  padding-top: 3.5rem;
  z-index: 3; */

  /* min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 2rem; */
 
  min-height:100vh;
  background: var(--muted-primary);
  margin: 2rem 0;
  border-radius: 120px;
  padding: 4rem;
  position: relative;
  z-index:20;
  bottom: 9rem; 
    overflow:hidden;

}

.hiw-container{
  /* display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color); */

   width:100%;
    min-height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    background:transparent;

}

