
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delius&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sekuya&display=swap');

:root{
  --bg-color: #EDE8D0;
  --primary-color: #FFCF00;
  --secondary-primary: #EE6123; 
  --third-primary: #215E61;
  --card--primary: #FDB5CE;
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body, #root{
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

.main-container{
  /* background-color: aqua; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-right: 3em;

}
.navbar{
  background-color: var(--secondary-primary);
  /* height: 100px;
  width: 45%; */
  /* margin: 40px auto; */
  /* padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  top: 1em;
  display: flex; */

  height: 65px;
  width: 110%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 1rem;
  padding-bottom: 1em;
  margin-top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 1px 10px #999;


}

.container-fluid{
  margin-top: 1em;
}

.nav-list{
  position: absolute;
  margin: 0 auto ;
  padding: 0.6rem 3rem;
  /* width: 23em; */
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
  /* background-color: var(--primary-color); */
  border-radius: 5px;
  margin-left: 18em;
  gap: 0.2rem;
  opacity: 90%;


}

.navbar-nav{ 
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  display: flex;

  gap: 0.5rem;

}

.nav-item{
  position: relative;
  /* border-radius: 10px; */
  transition: transform 160ms ease, box-shadow 160ms ease, background-color 160ms ease ;
}

.nav-item a{
  text-decoration: none;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-weight: 620;
  cursor: pointer;
  display: inline-block;
  padding: 0.70rem 0.70rem;
  border-radius: 5px;
  /* transition: color 160ms ease, background 160ms ease; */

}

.nav-item:hover{
  /* color: var(--third-primary); */
  /* transform: translateY(-6px); */
  box-shadow: 0 10px 24px rgba(33, 94, 97, 0.16);
  background-color: var(--third-primary);
  
}

.navbar-brand{
  color: var(--primary-color) !important;
  font-size: 30px;
  font-family: "Sekuya", system-ui;
  font-weight: 200;
}

.brand{
  /* display: flex;
  justify-content: center;
  position: absolute; */
  display: flex;
  align-items: center;
  position: static;
  gap: 0.1rem;

}

.bookmarkImg{
  /* position: absolute;
  justify-content: center;
  margin:  auto;
  padding: 0;
  display: flex;
  right: 12rem;
  top: 1px; */

  display: flex;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 1.1rem;

}

.bookmark{
  width: 110px;
}

.search{
  position: absolute;
  /* background-color: #215E61; */
  width: 450px;
  height: 2.4rem;
  max-width: 30%;
  margin: 0 0 0 1rem;
  padding: 0;
  left: 47em;
  border-radius: 30px;
}

.search-field{
  border-radius: 20px;
  /* height: 2.1em; */
  padding: 0.4rem 3rem;


  width: 100%;
  box-sizing: border-box;
  padding-right: 2.4rem;
  padding-left: 2.5rem;
}

.search-field::placeholder{
  font-family: "Inter", sans-serif;
  opacity: 45%;
}

.search-field:focus{
  border-color: var(--primary-color);
  box-shadow: 5px 5px var(--primary-color);
}

.search-Icon{
  position: absolute;
  margin-bottom: 10px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 12px;
  color: var(--third-primary);
  opacity: 75%;
}

/* .search-Icon i{
  position: static;
  color: var(--secondary-primary);
  font-size: 1rem;

} */

.user-container{
  /* background-color: #215E61; */
  width: 290px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-left: 75em;
  position: absolute;
  justify-content: center;
  align-items: center;

}

.userPro{
  margin-left: 8em ;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  object-fit: cover;
  
}

.user-notif{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50px;
  width: 37px;
 margin-left: 2em;

}

.user-notif i{
  font-size: 1.5rem;
  color: var(--third-primary);
}

.favGenreTitle{
  font-size: 15px;
}

.dropdown-menu{
  /* display: block; */
  justify-content: center;
  align-items: center;
  position: absolute;

  background-color: var(--third-primary);
  
  margin: 0 auto;
  padding: 1rem 2rem 1rem 1rem;

}
.dropdown-item{
  font-size: 14px;
}

.dropdown-menu .show{
  display: block;
}

/**footer**/
.contain{
  width: 100%;
  height: auto; /*doesnt push the footer to top*/
  z-index: 1;
  text-align: center;
  margin-top: auto;
  position: relative;
}


.text {
   color: var(--third-primary);
   font-size: 13px;
   font-weight: bold;

}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 5px;
    
}

.icons a i {
    font-size: 1.4rem;
    color: var(--third-primary);

}